@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

.content {
    &__description {
        @include vars.displayItems(flex, column, center, center);

        font: {
            size: 2vw;
            family: 'Nunito', sans-serif;
        }

        @media (max-width : 450px) {
            font: {
                size: 5vw;
            }
        }
    }

    &__container {
        background-color: rgb(50, 50, 50);
        margin: 5px 20px;
        padding: 30px;
        width: 75vw;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 10px;

        &-item {
            @include vars.displayItems(flex, row, center, space-between);
            border-radius: 2%;
            padding: 0 5px;
            background: linear-gradient(270deg, rgba(2, 0, 36, 0) 2%, rgba(9, 12, 121, 1) 52%, rgba(0, 65, 122, 1) 100%);
        }
    }

    &__link{
        color: #ccc;
    }
    // &__Image {}
}