.dialog{
    color: black;
    position: relative;
    width: 100vw;
    @media (max-width : 450px) {
        
    }
    &__title{
        display: flex;
        padding: 10px;
        justify-content: space-between;
    }
    &__btn{
        position: absolute;
        right: 0;
        background-color: aqua;
        margin: 10px;
    }
}