.dialog {
    color: black;
    position: fixed;
    width: 100vw;
    &__title {
        display: flex;
        padding: 10px;
        justify-content: space-between;
    }
    &__btn {
        position: absolute;
        right: 0;
        margin: 1vh;
    }
}

.contact {
    &__field {
        margin: 10px 5px;
    }

    &__dialog {
        min-height: 25vh;
    }
}
