.dialog{
    color: black;
    position: fixed;
    width: 100vw;
    @media (max-width : 450px) {
        
    }
    &__title{
        display: flex;
        padding: 10px;
        justify-content: space-between;
    }
    &__btn{
        position: absolute;
        right: 0;
        margin: 10px;
    }
}

.contact{
    &__field{
        margin: 10px 5px;
    }

    &__dialog{
        min-height: 25vh;
    }
}